body,html{
  font-family:sans-serif;
  position: relative;
  margin: 0;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.container *{
    z-index: 2;
    position: relative;
}
.container::before{
  content: '';
  width: 100%;
  height: 100%;
  background: url('../avatar.jpg') center;
  background-size: cover;
  position: absolute;
  filter: blur(12px);
  transform: scale(1.3);
  overflow: hidden;
  z-index: 0;
}
.container::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(35,35,35,0.4);
  z-index: 1;
}
h1{
  color: #fff;
  align-self: center;
  line-height: 0.7;
  font-size: 40px;
  text-align: center;
}
h1 small{
  font-size: 22px;
  font-weight: 300;
  font-family: 'IBM Plex Sans',sans-serif;
}
img{
  max-width: 100%;
  border-radius: 50%;
  max-height: 50vh;
  margin: 0 4vh;
}
